---
---

@import "{{ site.theme }}";

.culture-switch {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.header-text {
    color: #fff;
}

.header-text a {
    color: #fff;
}
